//========================================================================================================================================================
// Header
/*
.header {
	width: 100%;
	position: absolute;
	padding-top: toRem(60);
	&__container {
		display: flex;
		justify-content: flex-end;
	}

	&__menu {
	}
}
.menu {
	&__body {
		display: none;
	}

	&__list {
	}

	&__item {
	}

	&__link {
	}
}

*/
//========================================================================================================================================================
