//========================================================================================================================================================
// Main
.hero {
	position: relative;
	background: url("@img/bg/hero-bg.jpg") center / cover no-repeat;
	&__container {
		display: flex;
		min-height: 100%;
		position: relative;
	}

	&__menu {
		right: toRem(15);
		position: absolute;
		padding-top: toRem(60);
		@media (max-width: $tablet) {
			padding-top: toRem(30);
		}
	}

	&__data {
	}

	&__decore {
	}

	&__body {
	}
}
.menu {
	&__body {
		opacity: 0;
		z-index: 10;
		height: auto;
		top: toRem(90);
		right: toRem(0);
		width: toRem(320);
		position: absolute;
		padding: toRem(15);
		visibility: hidden;
		border-radius: toRem(10);
		background-color: rgba(235, 141, 0, 1);
		transition:
			opacity 0.5s ease 0s,
			visibility 0.5s ease 0s;
		box-shadow: rgba(0, 0, 0, 0.24) toRem(0) toRem(3) toRem(8);
		.menu-open & {
			opacity: 1;
			visibility: visible;
		}
		@media (max-width: $tablet) {
			top: toRem(60);
		}
		@media (max-width: $mobile) {
			width: toRem(220);
			padding: toRem(10);
			border-radius: toRem(5);
		}
	}

	&__list {
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}

	&__link {
		display: flex;
		font-weight: 500;
		align-items: center;
		font-size: toRem(25);
		flex-direction: row-reverse;
		justify-content: space-between;
		transition: color 0.3s ease 0s;
		&::before {
			margin-right: toRem(-7);
		}
		@media (any-hover: hover) {
			&:hover {
				color: yellow;
			}
		}
		@media (max-width: $mobile) {
			font-size: toRem(17);
		}
	}
}
.data-hero {
	z-index: 3;
	display: flex;
	gap: toRem(20);
	top: toRem(90);
	position: absolute;
	align-items: center;
	@media (max-width: $tablet) {
		top: toRem(50);
		gap: toRem(10);
	}
	&__logo {
		max-width: toRem(88);
		@extend %animate-left;
		img {
			max-width: 100%;
		}
		@media (max-width: $mobile) {
			max-width: toRem(55);
		}
	}

	&__content {
		@extend %animate-right;
	}

	&__day {
		font-weight: 700;
		text-transform: uppercase;
		@include adaptiveValue("font-size", 48, 22);
		&:not(:last-child) {
			margin-bottom: toRem(3);
		}
	}

	&__year {
		font-weight: 500;
		@include adaptiveValue("font-size", 36, 20);
	}
}
.decore-hero {
	&__image {
		position: absolute;
		pointer-events: none;
		@extend %animate-scale-exl-decore;
		img {
			max-width: 100%;
		}
		&--saturn {
			top: toRem(0);
			display: flex;
			bottom: toRem(0);
			right: toRem(-230);
			align-items: center;
			margin: auto toRem(0);
			@include adaptiveValue("max-width", 900, 330);
			@media (max-width: $tablet) {
				right: toRem(-90);
			}
		}

		&--decore-01 {
			top: toRem(0);
			display: flex;
			left: toRem(-250);
			bottom: toRem(150);
			align-items: center;
			margin: auto toRem(0);
			@include adaptiveValue("max-width", 525, 220);
			@media (max-width: $tablet) {
				left: toRem(-30);
			}
			@media (max-width: $mobileSmall) {
				left: toRem(-60);
			}
		}

		&--decore-02 {
			left: toRem(-170);
			bottom: toRem(50);
			@include adaptiveValue("max-width", 630, 220);
			@media (max-width: $tablet) {
				left: toRem(-30);
			}
			@media (max-width: $mobileSmall) {
				left: toRem(-50);
				bottom: toRem(100);
			}
		}

		&--decore-03 {
			z-index: 1;
			right: toRem(-50);
			bottom: toRem(70);
			@include adaptiveValue("max-width", 400, 200);
			@media (max-width: $tablet) {
				right: toRem(-30);
			}
			@media (max-width: $mobileSmall) {
				right: toRem(-50);
				bottom: toRem(100);
			}
		}
	}
}
.body-hero {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	@media (max-width: $mobile) {
		z-index: 1;
		margin: toRem(0) auto;
		padding-top: toRem(130);
		padding-bottom: toRem(50);
		flex-direction: column-reverse;
	}
	&__main {
		display: grid;
		justify-items: center;
		@include adaptiveValue("gap", 37, 15, 0, $containerWidth, 991.98);
	}

	&__label {
		z-index: 1;
		position: relative;
		pointer-events: none;
		max-width: toRem(680);
		@extend %animate-scale;
		@media (max-width: $mobile) {
			@include adaptiveValue("max-width", 580, 340, 0, 767.98, 320);
		}
		img {
			max-width: 100%;
		}
	}

	&__button {
		@extend %animate-scale;
		background: linear-gradient(180deg, #00ebd3 0%, #eeac49 100%),
			radial-gradient(50% 49.28% at 50% 0%, rgb(255, 255, 255) 0%, rgb(205, 127, 55) 100%);
	}

	&__person {
		position: relative;
	}

	&__person-image {
		pointer-events: none;
		@extend %animate-scale;
		max-width: toRem(500);
		img {
			max-width: 100%;
		}
		@media (max-width: $mobile) {
			margin-left: toRem(-50);
			@include adaptiveValue("max-width", 470, 290, 0, 767.98, 320);
			@include adaptiveValue("margin-bottom", -100, -60, 0, 767.98, 320);
		}
	}

	&__person-ufo {
		top: toRem(-30);
		right: toRem(120);
		position: absolute;
		pointer-events: none;
		@extend %animate-scale-exl-decore;
		@include adaptiveValue("max-width", 120, 50);
		img {
			max-width: 100%;
		}
		@media (max-width: $mobile) {
			top: toRem(100);
			right: toRem(-100);
		}
		@media (max-width: $mobileSmall) {
			right: toRem(-50);
		}
	}
}
//========================================================================================================================================================
// About
.about {
	background: $gradientColor;
	&::-webkit-scrollbar {
		display: none;
	}
	&__container {
		display: flex;
		min-height: 100%;
		position: relative;
		align-items: center;
		justify-content: center;
		&::before {
			content: "";
			margin: auto;
			top: toRem(0);
			right: toRem(0);
			bottom: toRem(0);
			left: toRem(-105);
			width: toRem(805);
			height: toRem(450);
			position: absolute;
			background: url("@img/about/decore.svg") center / contain no-repeat;
		}
		@media (max-width: em(1040.98)) {
			&::before {
				width: 100%;
				left: toRem(0);
				height: toRem(650);
				bottom: toRem(-110);
				max-width: toRem(570);
				background: url("@img/about/decore-mob.svg") center / contain no-repeat;
			}
		}
		@media (max-width: em(620.98)) {
			&::before {
				height: toRem(525);
				bottom: toRem(-110);
			}
		}
		@media (max-width: $mobileSmall) {
			&::before {
				height: toRem(340);
				bottom: toRem(-110);
			}
		}
	}

	&__body {
		display: flex;
		gap: toRem(65);
		align-items: center;
		max-width: toRem(955);
		margin-right: toRem(-105);
		@media (max-width: em(1040.98)) {
			margin-right: toRem(0);
			padding-top: toRem(30);
			padding-bottom: toRem(230);
			flex-direction: column-reverse;
		}
		@media (max-width: em(620.98)) {
			gap: toRem(25);
		}
		@media (max-width: $mobileSmall) {
			padding-top: toRem(10);
			padding-bottom: toRem(70);
		}
	}

	&__about {
		font-weight: 700;
		max-width: toRem(520);
		@media (max-width: em(620.98)) {
			max-width: toRem(400);
		}
		@media (max-width: $mobileSmall) {
			max-width: toRem(260);
		}
	}

	&__text {
		line-height: 120%;
		font-size: toRem(24);
		@extend %animate-up;
		&:not(:last-child) {
			margin-bottom: toRem(40);
		}
		@media (max-width: em(620.98)) {
			font-size: toRem(18);
		}
		@media (max-width: $mobileSmall) {
			font-size: toRem(14);
			&:not(:last-child) {
				margin-bottom: toRem(15);
			}
		}
	}

	&__name {
		color: #d28e27;
		@extend %animate-right;
		text-align: right;
		margin-left: auto;
		font-size: toRem(40);
		@media (max-width: em(620.98)) {
			font-size: toRem(20);
		}
		@media (max-width: $mobileSmall) {
			font-size: toRem(16);
		}
	}

	&__image {
		border-radius: 50%;
		min-width: toRem(300);
		img {
			max-width: 100%;
		}
		@media (max-width: em(1040.98)) {
			min-width: auto;
			max-width: toRem(200);
		}
		@media (max-width: em(620.98)) {
			max-width: toRem(180);
		}
		@media (max-width: $mobileSmall) {
			max-width: toRem(120);
		}
	}
}
//========================================================================================================================================================
// Date
.date {
	background: url("@img/bg/date-bg.jpg") center / cover no-repeat;
	&__container {
		display: flex;
		min-height: 100%;
		position: relative;
		align-items: center;
		flex-direction: column;
		padding-top: toRem(40);
		justify-content: center;
		padding-bottom: toRem(40);
		&::before,
		&::after {
			content: "";
			width: toRem(173);
			height: toRem(173);
			position: absolute;
			background: url("@img/date/decore.svg") center / contain no-repeat;
		}
		&::before {
			top: toRem(50);
			right: toRem(0);
			@extend %animate-up;
			@media (max-width: em(1200.98)) {
				top: toRem(15);
				right: toRem(15);
			}
		}
		&::after {
			left: toRem(0);
			bottom: toRem(50);
			transform: rotate(-180deg);
			@extend %animate-down-exl-before;
			@media (max-width: em(1200.98)) {
				left: toRem(15);
				bottom: toRem(15);
			}
		}
		@media (max-width: $mobile) {
			&::before,
			&::after {
				width: toRem(85);
				height: toRem(85);
			}
		}
	}

	&__circle {
		overflow: hidden;
		border-radius: 50%;
		display: inline-flex;
		animation: rotate 10s linear infinite;
		img {
			max-width: 100%;
		}
		@keyframes rotate {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
		@media (max-width: $mobile) {
			max-width: toRem(115);
			&:not(:last-child) {
				margin-bottom: toRem(30);
			}
		}
	}

	&__content {
		text-align: center;
		@extend %animate-up;
		margin: toRem(0) auto;
		@include adaptiveValue("max-width", 805, 250);
	}

	&__body {
		width: 100%;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 80, 55);
		}
	}

	&__title {
		font-weight: 700;
		text-transform: uppercase;
		@include adaptiveValue("font-size", 96, 36);
		span {
			display: flex;
			margin-top: toRem(4);
			justify-content: center;
			@include adaptiveValue("font-size", 32, 16);
		}
		&:not(:last-child) {
			margin-bottom: toRem(25);
		}
		@media (max-width: $mobile) {
			span {
				font-weight: 400;
			}
		}
	}

	&__text {
		@include adaptiveValue("font-size", 24, 14);
	}

	&__button {
	}
}
//========================================================================================================================================================
// Why
.why {
	&__main {
		padding-top: toRem(100);
		padding-bottom: toRem(100);
		@media (max-width: $mobile) {
			padding-bottom: toRem(40);
		}
	}

	&__decore {
		img {
			width: 100%;
		}
	}
}
.main-why {
	width: 100%;
	text-align: center;
	&__body {
		text-align: left;
		position: relative;
		margin: toRem(0) auto;
		border-radius: toRem(15);
		background: $gradientColor;
		@include adaptiveValue("max-width", 990, 250);
		@include adaptiveValue("padding-top", 100, 80, 0, $containerWidth, 767.98);
		@include adaptiveValue("padding-left", 65, 20, 0, $containerWidth, 767.98);
		@include adaptiveValue("padding-right", 65, 20, 0, $containerWidth, 767.98);
		@include adaptiveValue("padding-bottom", 65, 30, 0, $containerWidth, 767.98);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 100, 35);
		}
	}

	&__title {
		margin-left: toRem(50);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 120, 35);
		}
		@media (max-width: em(1040.98)) {
			margin-left: toRem(0);
		}
	}

	&__items {
		display: grid;
		margin: toRem(0) auto;
		max-width: toRem(770);
		@include adaptiveValue("gap", 100, 25);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 100, 30);
		}
	}

	&__item {
		display: flex;
		gap: toRem(30);
		font-weight: 700;
		align-items: center;
		@include adaptiveValue("font-size", 16, 12);
		&::before {
			color: rgba(81, 194, 255, 0.5);
			@include adaptiveValue("font-size", 90, 25);
		}
		@media (min-width: $mobile) {
			&--min {
				p {
					max-width: toRem(360);
				}
			}
			&--max {
				p {
					max-width: toRem(560);
				}
			}
			&:nth-child(2) {
				padding-left: toRem(95);
			}
			&:nth-child(3) {
				padding-left: toRem(195);
			}
			&:nth-child(4) {
				padding-left: toRem(95);
			}
		}
		@media (max-width: $mobile) {
			gap: toRem(15);
			font-weight: 400;
			text-align: center;
			flex-direction: column;
		}
	}

	&__bottom {
		display: grid;
		gap: toRem(20);
		align-items: center;
		grid-template-columns: 41.27907% 52.906977%;
		@media (max-width: $tablet) {
			grid-template-columns: auto;
		}
	}

	&__subtitle {
		font-weight: 700;
		text-align: right;
		line-height: 115%;
		@include adaptiveValue("font-size", 32, 16);
		background: linear-gradient(180deg, #e8900f 0%, #eb8d00 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		@media (max-width: $tablet) {
			text-align: center;
		}
	}

	&__text {
		@include adaptiveValue("font-size", 16, 12);
		@media (max-width: $tablet) {
			text-align: center;
		}
	}

	&__image {
		top: 50%;
		left: toRem(-150);
		position: absolute;
		transform: translate(0px, -50%);
		img {
			max-width: 100%;
			@extend %animate-left;
		}
		@media (max-width: $tablet) {
			left: toRem(-125);
			max-width: toRem(250);
		}
		@media (max-width: $mobile) {
			left: toRem(0);
			top: toRem(-60);
			right: toRem(0);
			max-width: toRem(120);
			margin: toRem(0) auto;
			transform: translate(0px, 0px);
		}
	}

	&__button {
	}
}
//========================================================================================================================================================
// Gest
.gest {
	background: $gradientColor;
	&__container {
		display: flex;
		min-height: 100%;
		align-items: center;
		padding-top: toRem(70);
		justify-content: center;
		padding-bottom: toRem(70);
		@media (max-width: $mobileSmall) {
			padding-top: toRem(40);
			padding-bottom: toRem(80);
		}
	}

	&__body {
	}

	&__gallery {
		display: grid;
		position: relative;
		grid-template-columns: 1fr;
		margin: toRem(0) toRem(-15);
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
	}

	&__top {
		&:not(:last-child) {
			margin-bottom: toRem(80);
		}
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: toRem(120);
			}
		}
	}

	&__label {
		text-align: right;
		font-size: toRem(24);
		text-transform: uppercase;
		@media (max-width: $mobile) {
			text-align: center;
		}
	}
}
.top-gest {
	display: flex;
	gap: toRem(20);
	align-items: center;
	justify-content: space-between;
	@media (max-width: em(1070)) {
		flex-direction: column;
	}
	&__title {
	}

	&__text {
		line-height: 115%;
		max-width: toRem(705);
		@include adaptiveValue("font-size", 20, 12);
		@media (max-width: em(1070)) {
			text-align: center;
		}
	}
}
.gallery-gest {
	&__slider {
		height: toRem(530);
		border-radius: toRem(200);
		padding: toRem(0) toRem(15);
		@media (max-width: $mobile) {
			height: auto;
			margin: toRem(0) auto;
			max-width: toRem(400);
			border-radius: toRem(0);
		}
		@media (max-width: $mobileSmall) {
			max-width: 100%;
		}
	}

	&__wrapper {
		align-items: center;
	}

	&__arrows {
		display: flex;
		top: toRem(0);
		gap: toRem(15);
		right: toRem(15);
		position: absolute;
		align-items: center;
		@media (max-width: $mobile) {
			left: toRem(0);
			top: toRem(-80);
			right: toRem(0);
			justify-content: center;
		}
	}

	&__arrow {
		display: flex;
		width: toRem(52);
		height: toRem(52);
		border-radius: 50%;
		align-items: center;
		font-size: toRem(10);
		justify-content: center;
		border: toRem(1) solid $mainColor;
		transition: background-color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: rgba($mainColor, 0.1);
			}
		}
		&--prew {
			transform: rotate(-180deg);
		}

		&--next {
		}
	}

	&__slide {
		flex-basis: toRem(195);
		transition: flex-basis 0.5s ease 0s;
		&.swiper-slide-active {
			flex-basis: toRem(480);
		}
		&.swiper-slide-prev {
			flex-basis: toRem(210);
		}
		@media (max-width: $mobile) {
			flex-basis: 100%;
			&.swiper-slide-active {
				flex-basis: 100%;
			}
			&.swiper-slide-prev {
				flex-basis: 100%;
			}
		}
	}

	&__body {
		text-align: center;
		// aspect-ratio: 1 / 1;
	}

	&__image {
		width: 100%;
		img {
			width: 100%;
		}
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}

	&__name {
		font-size: toRem(20);
	}
}
//========================================================================================================================================================
// Gallery
.gallery {
	background: $gradientColor;
	&__container {
		display: flex;
		min-height: 100vh;
		align-items: center;
		padding-top: toRem(30);
		justify-content: center;
		padding-bottom: toRem(30);
	}

	&__main {
		width: 100%;
		position: relative;
	}

	&__slider {
		@include adaptiveValue("border-radius", 20, 5);
	}

	&__wrapper {
	}

	&__slide {
		width: 100%;
		img {
			width: 100%;
		}
	}

	&__arrowns {
		width: 100%;
		display: flex;
		position: absolute;
		align-items: center;
		padding: toRem(0) toRem(15);
		justify-content: space-between;
		@media (min-width: $mobile) {
			top: 50%;
			transform: translate(0px, -50%);
		}
		@media (max-width: $mobile) {
			gap: toRem(15);
			bottom: toRem(-70);
			justify-content: center;
		}
		@media (max-width: $mobileSmall) {
			gap: toRem(12);
			bottom: toRem(-50);
		}
	}

	&__arrow {
		display: flex;
		width: toRem(50);
		height: toRem(50);
		border-radius: 50%;
		align-items: center;
		font-size: toRem(10);
		justify-content: center;
		background-color: #eb8d00;
		transition: background-color 0.3s ease 0s;
		box-shadow:
			rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
			rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
		@media (any-hover: hover) {
			&:hover {
				background-color: rgba(#d28e27, 0.7);
			}
		}
		@media (max-width: $mobileSmall) {
			width: toRem(40);
			height: toRem(40);
			font-size: toRem(8);
		}
		&--prew {
			transform: rotate(-180deg);
		}

		&--next {
		}
	}
}
//========================================================================================================================================================
// Artist
.artist {
	background: $gradientColor;
	&__container {
		display: grid;
		justify-items: center;
		@include adaptiveValue("padding-top", 130, 40);
		@include adaptiveValue("padding-bottom", 130, 80);
	}

	&__items {
		display: grid;
		overflow: hidden;
		margin: toRem(0) auto;
		max-width: toRem(1115);
		@include adaptiveValue("gap", 80, 25);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 140, 40);
		}
	}

	&__item {
		display: grid;
		align-items: center;
		justify-content: space-between;
		grid-template-columns: 39.461883% 53.811659%;
		@media (min-width: $mobile) {
			&:nth-child(2n) {
				grid-template-columns: 53.811659% 39.461883%;
				.artist__image {
					order: 2;
				}
				.artist__content {
					order: 1;
				}
			}
		}
		@media (max-width: $mobile) {
			gap: toRem(30);
			text-align: center;
			grid-template-columns: auto;
		}
	}

	&__image {
		img {
			max-width: 100%;
		}
	}

	&__content {
	}

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 35, 15);
		}
	}

	&__text {
		@include adaptiveValue("font-size", 16, 12);
	}

	&__button {
		box-shadow: toRem(0) toRem(0) toRem(20) toRem(0) #f90;
	}
}
//========================================================================================================================================================
// Reprise
.reprise {
	display: flex;
	min-height: 100%;
	align-items: center;
	justify-content: center;
	background: url("@img/bg/reprise-bg.jpg") center / cover no-repeat;
	&__body {
		text-align: center;
		@include adaptiveValue("max-width", 645, 250);
	}

	&__text {
		@extend %animate-up;
		@include adaptiveValue("font-size", 20, 14);
		&:not(:last-child) {
			margin-bottom: toRem(25);
		}
	}

	&__title {
		font-weight: 700;
		@extend %animate-down;
		text-transform: uppercase;
		@include adaptiveValue("font-size", 48, 24);
	}
}
//========================================================================================================================================================
// History
.history {
	&__about {
		position: relative;
		&::before {
			content: "";
			width: 100%;
			left: toRem(0);
			bottom: toRem(0);
			height: 15.277778%;
			position: absolute;
			background: linear-gradient(180deg, rgba(10, 68, 149, 0) 0%, #0a4495 100%);
		}
	}

	&__main {
		overflow: hidden;
		position: relative;
		@include adaptiveValue("margin-top", -330, -150);
		&::before {
			content: "";
			width: 100%;
			height: 100%;
			left: toRem(0);
			position: absolute;
			background: $gradientColor;
			@include adaptiveValue("top", 330, 150);
		}
	}
}
.about-history {
	display: flex;
	align-items: center;
	justify-content: center;
	@include adaptiveValue("padding-top", 150, 30);
	@include adaptiveValue("padding-bottom", 480, 190);
	background: url("@img/bg/history-bg.jpg") center / cover no-repeat;
	&__body {
		text-align: center;
		@include adaptiveValue("max-width", 1055, 270);
	}

	&__title {
		font-weight: 700;
		@extend %animate-up;
		@include adaptiveValue("font-size", 36, 24);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 115, 35);
		}
	}

	&__text {
		line-height: 120%;
		@extend %animate-down;
		@include adaptiveValue("font-size", 24, 14);
		p {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 50, 20);
			}
		}
	}
}
.main-history {
	&__gallery {
		position: relative;
		margin: toRem(0) auto;
		@include adaptiveValue("max-width", 1170, 260);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 140, 70);
		}
	}

	&__slider {
		border-radius: toRem(10);
	}

	&__wrapper {
	}

	&__slide {
		img {
			width: 100%;
		}
	}

	&__arrows {
		width: 100%;
		display: flex;
		position: absolute;
		align-items: center;
		justify-content: space-between;
		@media (min-width: $mobile) {
			top: 50%;
			transform: translate(0px, -50%);
		}
		@media (max-width: $mobile) {
			gap: toRem(20);
			bottom: toRem(-60);
			justify-content: center;
		}
	}

	&__arrow {
		display: flex;
		width: toRem(64);
		height: toRem(64);
		border-radius: 50%;
		align-items: center;
		font-size: toRem(10);
		justify-content: center;
		background-color: #d28e27;
		transition: background-color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: rgba($bgColor, 0.3);
			}
		}
		@media (max-width: $mobile) {
			width: toRem(44);
			height: toRem(44);
		}
		&--prew {
			margin-left: toRem(-32);
			transform: rotate(-180deg);
		}

		&--next {
			margin-right: toRem(-32);
		}
	}

	&__text {
		position: relative;
		line-height: 120%;
		text-align: center;
		margin: toRem(0) auto;
		@include adaptiveValue("font-size", 24, 14);
		@include adaptiveValue("max-width", 1055, 270);
		p {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 50, 20);
			}
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 140, 35);
		}
	}

	&__where {
		position: relative;
	}

	&__title {
		font-weight: 700;
		text-align: center;
		@include adaptiveValue("font-size", 36, 24);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 115, 35);
		}
	}

	&__adress {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: toRem(0) toRem(15);
		@include adaptiveValue("gap", 30, 10);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 70, 30);
		}
	}

	&__logo {
		max-width: toRem(95);
		img {
			max-width: 100%;
		}
		@media (max-width: $mobile) {
			max-width: toRem(65);
		}
	}

	&__link {
		@include adaptiveValue("font-size", 24, 14);
		a {
			text-decoration: underline;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	&__map {
		height: 100%;
		margin-bottom: toRem(-4);
		iframe {
			width: 100%;
			@include adaptiveValue("height", 670, 350);
		}
	}
}
//========================================================================================================================================================
// Again
.again {
	&__hero {
		position: relative;
		background: #5a99de;
		&::before {
			z-index: 1;
			content: "";
			width: 100%;
			left: toRem(0);
			bottom: toRem(0);
			height: 15.277778%;
			position: absolute;
			background: linear-gradient(180deg, rgba(10, 68, 149, 0) 0%, #0a4495 100%);
		}
		.body-hero__button {
			z-index: 1;
			position: relative;
			background: linear-gradient(180deg, #eb8d00 0%, #eeac49 100%),
				radial-gradient(50% 49.28% at 50% 0%, rgb(255, 255, 255) 0%, rgb(205, 127, 55) 100%);
			@media (any-hover: hover) {
				&:hover {
					background: linear-gradient(0deg, #eb8d00 0%, #eeac49 100%),
						radial-gradient(50% 49.28% at 50% 0%, rgb(255, 255, 255) 0%, rgb(205, 127, 55) 0%);
				}
			}
		}
		@media (min-width: $mobile) {
			height: 100%;
		}
		@media (min-width: $tablet) {
			.hero__container {
				// min-height: auto;
				padding-top: toRem(100);
				padding-bottom: toRem(100);
			}
			.body-hero__main {
				position: relative;
				margin-left: toRem(30);
				.body-hero__button {
					right: toRem(-70);
					position: absolute;
					bottom: toRem(-130);
				}
			}
			.body-hero__person {
				margin-left: toRem(-120);
			}
		}
	}

	&__footer {
	}
}
.footer-again {
	background-color: #0a4088;
	@include adaptiveValue("padding-top", 130, 35);
	@include adaptiveValue("padding-bottom", 130, 80);
	&__container {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 100, 20);
		@media (max-width: $mobile) {
			text-align: center;
			flex-direction: column;
		}
	}

	&__logo {
		@include adaptiveValue("max-width", 160, 40);
		img {
			max-width: 100%;
		}
	}

	&__list {
		display: grid;
		@include adaptiveValue("gap", 24, 12);
	}

	&__item {
	}

	&__link {
		font-size: toRem(14);
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: #eb8d00;
			}
		}
	}

	&__contacts {
	}

	&__label {
		line-height: 170%;
		font-size: toRem(14);
		a {
			display: flex;
			transition: color 0.3s ease 0s;
			@include adaptiveValue("font-size", 24, 17);
			@media (any-hover: hover) {
				&:hover {
					color: #eb8d00;
				}
			}
			@media (max-width: $mobile) {
				justify-content: center;
			}
		}
		&:not(:last-child) {
			margin-bottom: toRem(5);
		}
	}
}
//========================================================================================================================================================
// Video
.video-container {
	margin: auto;
	top: toRem(0);
	display: flex;
	left: toRem(0);
	right: toRem(0);
	position: fixed;
	bottom: toRem(0);
	align-items: center;
	pointer-events: none;
	flex-direction: column;
	justify-content: center;
}
.video {
	height: 100vh;
	object-fit: cover;
	width: toRem(2700);
}
//========================================================================================================================================================
